
.explore-container{
    background-image: url("https://i.ibb.co/hmSZNqM/salvador-escalante-Efjlkpo-Gjs4-unsplash.jpg"),
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    height: 480px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
.our-collection{
    background-color: #000;
    color: #fff;
}