.order-h1{
    background-color: #000;
    color: #fff;
    font-size: 39px;
    font-weight: 500;
}
.order-page{
    background-image: url("https://i.ibb.co/hmSZNqM/salvador-escalante-Efjlkpo-Gjs4-unsplash.jpg"),
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  
  }
  .order-form{
    background-color: #000; 
  }
  .order-form input{
    width: 90%;
    margin-bottom: 10px;
  }